/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- TYPOGRAPHY ---- */

/* ---- LAYOUT ---- */
* {
    border: 1px solid black;
}
/* -- splash -- */

/* -- game -- */

.card {
  width: 10vw;
  height: 25vh;
  margin: 10px;
  text-align: center;
}

#top-element, #bottom-center-element, #top-right-element, #top-left-element {
  display: flex;
}

#top-element, #bottom-center-element {
  justify-content: space-between;
  padding: 10px;
}

#flipped-cards .card {
  margin: 0px;
}

/* -- gameover -- */


/* ---- COMPONENTS ---- */